/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Ajout de propriétés CSS pour les boutons filtres */
.filters {

	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
	margin-bottom: 30px;	
}
.filters .btn-selected {
	color: white;
	background-color: #1D6154;
}

.filters button {
	font-family: "Syne";
	color :#1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: white;
	padding-right: 20px;
	font-size: 16px;
	padding: 9px 12px;
}


/* Style pour le formulaire de connexion */

.body {

background-color: #FFFEF8;
}

.log-link {
text-decoration: none;
color: black;

}
.log-link-active {

font-weight: 800;
}

.login-section {

padding-top: 160px;
padding-bottom: 380px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form {

padding-top: 60px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
}

.text-field {

border: none;
width: 379px;
height: 51px;
display: flex;
flex-direction: column;
}

.inputs{
	display: flex;
	flex-direction: column;
	gap : 5px;
}

#connect-btn {

font-family: "Syne";
font-size: 14px;
width: 179px;
height: 36px;
color: white;
background: #1D6154;
border-radius: 60px;
border: none;
	
}

.pw-forgotten {
text-decoration: underline;
	
}

.invalid-msg {

color: red;
text-decoration: underline;
font-size: 16px;
}

.invisible {

display: none;
}

.visible {

display: block;
}

/* style pour les éléments ajoutés en mode admin */
.admin-banner {

display: flex;
justify-content: center;
align-items: center;
gap: 25px;
z-index: 2;
background-color: black;
width: 1530px;
margin-left: -200px;
margin-right: -200px;
height : 60px;
}

.btn-publish-changes {
display: flex;
justify-content: center;
align-items: center;
border-radius: 60px;
border-style: none;
background-color: white;
width: 215px;
height: 38px;
font-family: "Work Sans";
font-weight: 500;
font-size: 14px;
cursor: pointer;

}

.btn-edit-mode {
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
width: 140px;
color : white;
background-color: black;
font-family: "Work Sans";
font-size: 16px;
border-style: none;
cursor: pointer;

}

.btn-edit-modal {

padding-left: 30px;
border-style: none;
background-color: transparent;
font-family: "Work Sans";
font-size: 16px;
font-weight: 400;
cursor: pointer;
}

.btn-edit-modal i {

font-size: 20px;
padding-right: 11px;
}

.btn-edit-2 {

padding-top: 15px;
padding-left: 55px;
}

.btn-edit-3 {

margin-left: -30px;
margin-top: -30px;
padding-bottom: 20px;
}

.add-padding {

padding-bottom: 100px;
}


/* style pour la fenêtre modale  */

.modal {
width : 630px;
display: flex;
flex-direction: column;
align-items: center;
border: none;
border-radius: 10px;
background-color: white;

}

.modal-backdrop{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
height: 100%;
width: 100%;
background-color:rgba(0, 0, 0, 0.30);

}
.btn-div{
width: 88%;
display : flex;
flex-direction: row;
justify-content:  flex-end;
margin-top: 25px;
}

.btns-div {

width : 95%;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.close-modal {

cursor: pointer;
}

.modal-title {

display: flex;
flex-direction: column;
font-family: "Work Sans";
font-size: 26px;
font-weight: 400;
color: black;
padding-top: 30px;
}

.mini-photos-gallery {
padding: 35px 105px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
gap: 10px;
}

.mini-figure{
position: relative;
}

.mini-figure:nth-child(n+2) .arrow-btn {
display: none;
}

.mini-img {
width: 75px;
height: 100px;
}
.trash-btn {
background-color: transparent;
border: none;
position: absolute;
top: 3px;
right: 3px;
}

.arrow-btn {
background-color: transparent;
border: none;
position: absolute;
top: 3px;
right: 22px;
}


.mini-icons {
font-size: 10px;
color: white;
background-color: black;
border-radius: 2px;
padding: 3px 3px;
cursor: pointer;
}

.grey-line {

background-color: grey;
height: 1px;
width: 420px;
}

.btn-add-photos {

width: 237px;
height:35px;
background-color: #1D6154;
font-family: "Syne";
color: white;
border-radius: 60px;
border: none;
margin: 35px 0px;
cursor: pointer;
}

.remove-all {

color: red;
padding-bottom: 30px;
}


.modal-add-new-work {
width : 630px;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
border-radius: 10px;
padding: 20px ;

}

.going-back {
cursor: pointer;
color : black;
}
.modal-photos-title {

font-family: "Work Sans";
font-size: 26px;
font-weight: 400;
color: black;
padding-bottom: 25px;

}
.form-new-work {
gap : 40px;
display: flex;
flex-direction: column;
align-items: center;	
}

.div-add-photo {
width: 420px;
height: 170px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap : 10px;
border-radius: 3px;
background: #E8F1F6; 
}

.text-field {
width: 420px;
height: 51px; 
background: #FFF;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
border: none;
}

#submit-btn {
display: flex;
justify-content: center;
align-items: center;
width: 237px;
height: 36px; 
border-radius: 60px;
border: none;
background-color: #A7A7A7; 
font-family: Syne; 
font-weight: 700;
font-size: 14px;
margin-top: 20px;
margin-bottom: 10px;
color: white;
cursor: pointer;

}

#submit-btn-ok{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 237px;
	height: 36px; 
	border-radius: 60px;
	border: none;
	background-color:  #1D6154;
	font-family: Syne; 
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
	color: white;
	cursor: pointer;

}

.photo-icon {

height: 58px;
width: 58px;
}

.label-add-photo {
display: flex;
justify-content: center;
align-items: center;
width: 173px;
height: 36px; 
border: none;
border-radius: 50px;
background: #CBD6DC;
color: #306685; 
font-size: 14px;
font-family: "Work Sans";
font-weight: 500; 
cursor: pointer;

}

.file-input {
display: none;

}

.photos-dimensions {
font-size: 10px;
font-family: "Work Sans"; 
font-weight: 400; 

}

.photo-mini-format {

max-height: 170px;
width: 145px;

}